#
# Основной файл конфигурации
#

# URL of the tested host
testUrl=https://r5am.ru

# Use a remote browser, such as "Selenium Grid" or "Solenoid"
remoteBrowser=false
remoteSeleniumHub=localhost
remoteSeleniumHubPort=4444

# Browser used for testing - chrome, firefox ...
browser=chrome

# Size of the browser window. Default value - 1920x1080 Full HD
browserSize=1920x1080

# Timeout to tests fail, seconds
failTestTimeout=10

# Eyes view timeout
eyesViewTimeout=3

# Actions slowdown (ms).
# If uiActionSlowdownSwitch=false, then it's not working.
uiActionSlowdownTime=100
uiActionSlowdownSwitch=false

# Interval (ms), color and flashes count for highlighting.
# If uiFlashSwitch=false, then it's not working.
uiActionInterval=50
uiFlashColor=#FF0000
uiFlashCount=1
uiFlashSwitch=true


